@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 100;
  src:
    url("../font/rawline-100.woff2") format("woff2"),
    url("../font/rawline-100.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 100;
  src:
    url("../font/rawline-100i.woff2") format("woff2"),
    url("../font/rawline-100i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 200;
  src:
    url("../font/rawline-200.woff2") format("woff2"),
    url("../font/rawline-200.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 200;
  src:
    url("../font/rawline-200i.woff2") format("woff2"),
    url("../font/rawline-200i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 300;
  src:
    url("../font/rawline-300.woff2") format("woff2"),
    url("../font/rawline-300.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 300;
  src:
    url("../font/rawline-300i.woff2") format("woff2"),
    url("../font/rawline-300i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 400;
  src:
    url("../font/rawline-400.woff2") format("woff2"),
    url("../font/rawline-400.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 400;
  src:
    url("../font/rawline-400i.woff2") format("woff2"),
    url("../font/rawline-400i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 500;
  src:
    url("../font/rawline-500.woff2") format("woff2"),
    url("../font/rawline-500.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 500;
  src:
    url("../font/rawline-500i.woff2") format("woff2"),
    url("../font/rawline-500i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 600;
  src:
    url("../font/rawline-600.woff2") format("woff2"),
    url("../font/rawline-600.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 600;
  src:
    url("../font/rawline-600i.woff2") format("woff2"),
    url("../font/rawline-600i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 700;
  src:
    url("../font/rawline-700.woff2") format("woff2"),
    url("../font/rawline-700.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 700;
  src:
    url("../font/rawline-700i.woff2") format("woff2"),
    url("../font/rawline-700i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 800;
  src:
    url("../font/rawline-800.woff2") format("woff2"),
    url("../font/rawline-800.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 800;
  src:
    url("../font/rawline-800i.woff2") format("woff2"),
    url("../font/rawline-800i.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: normal;
  font-weight: 900;
  src:
    url("../font/rawline-900.woff2") format("woff2"),
    url("../font/rawline-900.woff") format("woff");
}

@font-face {
  font-family: rawline;
  font-style: italic;
  font-weight: 900;
  src:
    url("../font/rawline-00.woff2") format("woff2"),
    url("../font/rawline-100.woff") format("woff");
}
