@charset "UTF-8";

/*mobile first*/

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lato:wght@300;400;700&family=Sofia&display=swap');

:root{
    --fonte-titulo: 'Sofia', cursive;
    --fonte-geral: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #2D4B73;
}

header{
    box-shadow: inset 2px 2px 14px rgba(0, 0, 0, 0.25);
    background-color: #253C59;
    margin-bottom: 10px;
    width: 100vw;
    height: 9vh;
}

header >div#img-logo >img{
    width: 35px;
    position: relative;
    bottom: 5x;
    padding: 12px 0px 2px 8px;
}

header >div#img-logo >div#link-to-go >p{
    font-family: var(--fonte-geral);
    font-size: smaller;
    color: rgba(255, 255, 255, 0.744);
    position: relative;
    top: -41px;
    left: 44px;
    
}

div#link-to-go a{
    position: relative;
    bottom: 5x;
    padding: 12px 0px 2px 6px;
    text-decoration: none;
    font-family: var(--fonte-geral);
    font-weight: bold;
    color: rgb(255, 255, 255);
    top: -40px;
    left: 38px;
    
}


header >div#botao-login{
    position: relative;
}

header >div#botao-avaliacoes >a{
    position: absolute;
    text-decoration: none;
    font-family: var(--fonte-geral);
    color: #36280d;
    background-color: #D9B70D;
    border-radius: 5px;
    padding: 7px;
    right: 25%;
    top: 17px;
    font-size: small;

}

header >div#botao-login >a >span{
    font-size: 40px;
    position: absolute;
    right: 14%;
    top: -77px;
    color: #D9B70D;
}

header >div#botao-mais >a >span{
    font-size: 40px;
    position: absolute;
    right: 8%;
    top: 18px;
    color: #D9B70D;
}
main{
    padding: 30px 35px 10px 35px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    font-family: var(--fonte-geral);
    background-color: #253C59;
    color: white;
}

main >article >h1{
    font-family: var(--fonte-geral);
    text-align: center;
}
main >article >h2{
    font-family: var(--fonte-titulo);
    text-align: center;
    margin-bottom: 40px;
}
label.titulo-select{
    font-size: larger;
    text-align: left;
}

select, input{
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    height: 27px;
    width: 400px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 6px;
}

select >option{
    border-radius: 10px;
    color: #253C59;
    text-align: left;
    font-size: medium;
}

article#data{
    background-color: #2D4B73;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0px 40px 0px;
}

article#data >input{
    width: 150px;
    display: inline-block;
    margin-top: 20px;
   
}
