@charset "UTF-8";

/*mobile first*/

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lato:wght@300;400;700&family=Sofia&display=swap');

:root{
    --fonte-titulo: 'Sofia', cursive;
    --fonte-geral: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

header{
    border-bottom: 1px solid rgba(111, 111, 111, 0.175);
    background-color: #ffffff;
    margin-bottom: 10px;
    width: 100vw;
    height: 8vh;
}


div#link-to-go >a{
    padding: 20px 50px 10px 20px;
    margin-top: 200px;
    text-decoration: none;
    font-family: var(--fonte-geral);
    font-weight: bold;
    color: rgb(0, 0, 0);
}

div#botao-person{
   margin-left: 350px;
    
}

div#botao-menu{
    margin-left: 400px;
    margin-top: -30px;
}

nav {
    box-shadow: inset 2px 2px 3px rgba(133, 132, 132, 0.165);
    margin-top: -10px;
    margin-bottom: 30px;
    height: 200px;
    background-color: #f8f8f8f8;
}

nav >p#titulo{
   font-family: var(--fonte-geral);
   font-size: small;
   color: rgb(88, 88, 88);
   padding: 5px 0px 5px 15px;
   border-radius: 25px;
}

nav >div#content{
    max-width: 900px;
    min-width: 240px;
    margin: auto;
}

nav >div#content >p#lugares-em-alta{
    width: 480px;
    background-color: #2D4B73;
    color: #ffffff;
    padding: 5px 0px 5px 15px;
}

nav >div#content >div#iframe-reviews-alta{
    background-color: #ffffff;
    height: 130px;
    position: relative;
    padding: 10px;

}

nav >div#content >div#iframe-reviews-alta >div#review1{
    background-color: #525252;
    min-width: 230px;
    max-width: 440px;
    height: 130px;
    position: absolute;
    top: 0px;
    border-right: 1px solid black;
}

nav >div#content >div#iframe-reviews-alta >div#review2{
    background-color: #525252;
    min-width: 230px;
    max-width: 440px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 0px;
    
}



header >div#botao-login{
   
}

header >div#botao-avaliacoes >a{
    position: absolute;
    text-decoration: none;
    font-family: var(--fonte-geral);
    color: #36280d;
    background-color: #D9B70D;
    border-radius: 5px;
    padding: 7px;
    right: 25%;
    top: 17px;
    font-size: small;

}

header >div#botao-login >a >span{
    font-size: 40px;
    position: absolute;
    right: 14%;
    top: -77px;
    color: #D9B70D;
}

header >div#botao-mais >a >span{
    font-size: 40px;
    position: absolute;
    right: 8%;
    top: 18px;
    color: #D9B70D;
}
main{
    padding: 30px 35px 10px 35px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    font-family: var(--fonte-geral);
    background-color: white;
    color: white;
}

main >article >h1{
    font-family: var(--fonte-geral);
    text-align: center;
}
main >article >h2{
    font-family: var(--fonte-titulo);
    text-align: center;
    margin-bottom: 40px;
}
label.titulo-select{
    font-size: larger;
    text-align: left;
}

select, input{
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    height: 27px;
    width: 300px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 6px;
}

select >option{
    border-radius: 10px;
    color: #253C59;
    text-align: left;
    font-size: medium;
}

article#data{
    background-color: #2D4B73;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0px 40px 0px;
}

article#data >input{
    width: 150px;
    display: inline-block;
    margin-top: 20px;
   
}
